@import 'tailwindcss';

@plugin "daisyui";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji';
--font-unique: "Iceberg", sans-serif;
--font-display: "Exo 2", sans-serif;
--color-avocado-300: oklch(0.94 0.11 115.03);
--color-avocado-400: oklch(0.92 0.19 114.08);
--color-avocado-600: oklch(0.53 0.12 118.34);
}


/* Tambahan utilitas untuk Tailwind */
/* Saat navbar dicollapse (di-scroll) */
/* Kamu bisa tambahkan ini di app.css */


